.container {
  height:22px;
  width: 84px;
  border-radius: 4px;
  background-color:  #885AF8
}
.amarelo {
  background-color:  #FFB946;
}
.verde {
  background-color:  #2ED47A;
}
.vermelho {
  background-color:  #F7685B;
}


span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 8px;

}

 .text {
  font-style: normal;
  font-size: 11px;
  font-weight: 500;
  color: #ffffff;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: center;

}

.textsegundo {
  height:22px;
  background-color: greenyellow;

}
