.btn {
  height: 42px;
  width: 160px;
  border-radius: 4px;
  background-color: #109CF1;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  border: none;
  cursor: pointer;
}
.btn:hover{
  background: #34AFF9;
  box-shadow: 0px 8px 16px rgba(52, 175, 249, 0.2);
  border-radius: 4px;
  }
.btn:active{
  background: #098EDF;
  box-shadow: 0px 2px 6px rgba(9, 142, 223, 0.3);
  border-radius: 4px;
}
.btn:disabled{
  background: #C2CFE0;
  border-radius: 4px;
}
.btn-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
