<div class="container">
    <app-meuprimeirobotao class="espaco" [disabled]="true" text="Accent button" (acao)="botao4()"></app-meuprimeirobotao>
    <app-meuprimeirobotao class="espaco" [disabled]="false" text="Accent button" (acao)="botao4()"></app-meuprimeirobotao>
    <app-meusegundobotao class="espaco" [disabled]="false" texto="Secondary button" (acao2)="botao5()"></app-meusegundobotao>
    <app-meusegundobotao  class="espaco" [disabled]="true" texto="Secondary button" (acao2)="botao5()"></app-meusegundobotao>
    <app-meuterceirobotao class="espaco" [disabled]="false" texto1="Tertiary button" (acao3)="botao()"></app-meuterceirobotao>
    <app-meuterceirobotao [disabled]="true" texto1="Tertiary button" (acao3)="botao()"></app-meuterceirobotao>

</div>


