

<div class="container">
  <app-meuprimeirobotao class="a" txt="Enviar" (acao)="bota1()"></app-meuprimeirobotao>
  <app-meusegundobotao  class="a" text="Enviar2" (acao2)="bota2()"></app-meusegundobotao>
  <app-meuterceirobotao  class="a" text3="Enviar3" (acao3)="bota3()"></app-meuterceirobotao>
  <app-meuquartobotao class="a" [disabled]="false" text4="Accent button" (acao4)="bota4()"></app-meuquartobotao>
  <app-meuquartobotao class="a" [disabled]="true" text4="Accent button" (acao4)="bota4()"></app-meuquartobotao>
</div>

