.btn {
  height: 42px;
  width: 160px;
  border: none;
  border: 1px solid #109CF1;
  border-radius: 4px;
  background: #FFFFFF;
  cursor: pointer;
}
.btn-text {
  color: #109CF1;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.btn:hover {
  border: 1px solid #34AFF9;
  border-radius: 4px;
}
.btn:hover .btn-text {
  color: #34AFF9;
}
.btn:active {
  border: 1px solid #098EDF;
  border-radius: 4px;
}
.btn:active .btn-text {
  color: #098EDF;
}
.btn:disabled{
  border: 1px solid #C2CFE0;
  border-radius: 4px;
}
.btn:disabled .btn-text {
  color: #C2CFE0;
}
